<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AniLog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .anime-img-container {
            width: 100%;
            aspect-ratio: 16 / 9;
            overflow: hidden;
        }
        .anime-img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        input[type="text"], select {
            padding: 0.4rem 0.75rem;
            border: 1px solid #cecece;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        input[type="text"]:focus, select:focus {
            border-color: #91c6ff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 125, 255, 0.25);
        }
        select:disabled {
            background-color: #ebebeb;
        }

        /* Modalの高さ設定 */
        .modal-body {
          max-height: calc(100svh - 240px);
          overflow-y: auto;
        }

        #animeList, #aniLogList {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 1rem;
        }
        @media (min-width: 576px) {
            #animeList, #aniLogList {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        @media (min-width: 768px) {
            #animeList, #aniLogList {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        @media (min-width: 992px) {
            #animeList, #aniLogList {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        .selected {
            border: 2px solid #007bff;
            background-color: #e9f5ff;
        }
    </style>
</head>
<body>
<div class="container my-1">
    <div class="card mt-4">
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                追加
            </button>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body" id="aniLogList">
        </div>
    </div>
</div>

<!-- Modal for searching anime -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">アニメ追加</h1>
            </div>
            <div class="modal-body">

                <div class="card mb-4">
                    <div class="card-header">
                        検索
                    </div>
                    <div class="card-body">
                        <p>作品名<input type="text" class="ms-3 me-3 rounded-1" id="title"></p>
                        <p>
                            年度
                            <select class="ms-3 me-3 rounded-1" id="year"></select>
                        </p>
                        <p>
                            時期
                            <select class="ms-3 me-3 rounded-1" id="season" disabled>
                                <option value="spring" selected>春(4月~6月)</option>
                                <option value="summer">夏(7月~9月)</option>
                                <option value="autumn">秋(10月~12月)</option>
                                <option value="winter">冬(1月~3月)</option>
                            </select>
                            並び替え
                            <select class="ms-3 me-3 rounded-1" id="sort">
                                <option value="id" selected>デフォルト</option>
                                <option value="season-asc">新しい順</option>
                                <option value="season-desc">古い順</option>
                                <option value="watchers_count">人気順</option>
                            </select>
                        </p>
                        <button type="button" class="btn btn-primary" id="searchBtn">検索</button>
                    </div>
                </div>

                <div class="card" id="animeListCard">
                    <div class="card-header">
                        検索結果<span id="totalCount"></span>
                    </div>
                    <div class="card-body" id="searchResult">
                        <div id="animeList"></div>
                        <div class="d-flex justify-content-around mt-3">
                            <button type="button" class="btn btn-primary" id="prevBtn" value="" disabled>前のページ</button>
                            <span class="align-content-center" id="showPage"></span>
                            <button type="button" class="btn btn-primary" id="nextBtn" value="" disabled>次のページ</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100" id="addBtn">追加</button>
                <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="animeIdModal" tabindex="-1" aria-labelledby="animeIdModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="animeIdModalLabel">詳細</h5>
            </div>
            <div class="modal-body" id="animeDetail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<script>
    'use strict';

    const searchResult = document.getElementById('searchResult');
    searchResult.style.display = 'none';

    const titleDom = document.getElementById('title');
    const yearDom = document.getElementById('year');
    const seasonDom = document.getElementById('season');
    const sortDom = document.getElementById('sort');

    var optionDom = '<option value="" selected>指定しない</option>';
    const currentYear = new Date().getFullYear();
    for (var i = currentYear; i >= 1970; i--) {
        var option = '<option value="' + i + '">' + i + '</option>';
        optionDom += option;
    }
    yearDom.insertAdjacentHTML('beforeend', optionDom);

    yearDom.addEventListener('change', function() {
        if (this.value === '') {
            seasonDom.disabled = true;
        } else {
            seasonDom.disabled = false;
        }
    });

    const prevBtnDom = document.getElementById('prevBtn');
    const nextBtnDom = document.getElementById('nextBtn');

    function showPage(totalCount, currentPage) {
        let allPage = Math.ceil(totalCount / 30);
        const page = document.getElementById('showPage');
        page.innerHTML = '';
        page.insertAdjacentHTML(
          'afterbegin',
          `${currentPage}&nbsp;/&nbsp;${allPage}`
        );
    }

    function addAnimeList(data) {
        const container = document.getElementById('animeList');
        const animeListCard = document.getElementById('animeListCard');

        container.innerHTML = '';
        let imageUrl;

        for (let i = 0; i < data.animeList.length; i++) {
            if (data.animeList[i].ogImageUrl !== null && data.animeList[i].ogImageUrl.slice(0, 4) === 'http') {
              imageUrl = data.animeList[i].ogImageUrl;
            } else {
              imageUrl = '/images/noimg.png';
            }

            container.insertAdjacentHTML(
                'beforeend',
                `
                <div class="card m-2 anime-card" data-id="${data.animeList[i].id}">
                    <div class="card-body">
                        <div class="anime-img-container mt-1">
                            <img class="rounded img-thumbnail" src="${imageUrl}">
                        </div>
                        <div class="d-block mt-3 align-content-center text-center">
                            <h5>${data.animeList[i].title}</h5>
                            <p class="mt-2 mb-1">
                                <span class="badge text-bg-primary fs-6">${data.animeList[i].media}</span>
                                <span class="badge text-bg-primary fs-6">${data.animeList[i].epCount}話</span>
                            </p>
                            <p class="my-1"><span class="badge text-bg-success fs-6">${data.animeList[i].season}</span></p>
                        </div>
                    </div>
                </div>
                `
            );
        }

        document.querySelectorAll('.anime-card').forEach(card => {
            card.addEventListener('click', function() {
                document.querySelectorAll('.anime-card').forEach(c => c.classList.remove('selected'));
                this.classList.add('selected');
            });
        });
    }

    document.getElementById('searchBtn').addEventListener('click', () => {
        const title = titleDom.value;
        const year = yearDom.value;
        const season = seasonDom.value;
        const sort = sortDom.value;
        fetch(`/api/anime?title=${title}&year=${year}&season=${season}&sort=${sort}&page=1`)
            .then(res => {
                if (res.status === 400) {
                    // Handle error
                } else {
                    res.json()
                        .then(data => {
                            document.getElementById('totalCount').innerHTML = `：${data.totalCount}件`;

                            if (data.totalCount === 0) {
                                searchResult.style.display = 'none';
                            } else {
                                searchResult.style.display = '';
                            }

                            showPage(data.totalCount, 1);

                            nextBtnDom.value = data.nextPage;
                            prevBtnDom.value = data.prevPage;

                            if (data.nextPage == -1) {
                                nextBtnDom.disabled = true;
                            } else {
                                nextBtnDom.disabled = false;
                            }

                            addAnimeList(data);
                        })
                }
            });
    });

    document.getElementById('prevBtn').addEventListener('click', () => {
        const title = titleDom.value;
        const year = yearDom.value;
        const season = seasonDom.value;
        const sort = sortDom.value;
        const page = prevBtnDom.value;
        fetch(`/api/anime?title=${title}&year=${year}&season=${season}&sort=${sort}&page=${page}`)
            .then(res => {
                if (res.status === 400) {
                } else {
                    res.json()
                        .then(data => {
                            showPage(data.totalCount, page);

                            nextBtnDom.value = data.nextPage;
                            prevBtnDom.value = data.prevPage;

                            if (data.prevPage == -1) {
                                prevBtnDom.disabled = true;
                            } else {
                                prevBtnDom.disabled = false;
                            }

                            if (data.nextPage == -1) {
                                nextBtnDom.disabled = true;
                            } else {
                                nextBtnDom.disabled = false;
                            }

                            addAnimeList(data);
                        })
                }
            });
    });

    document.getElementById('nextBtn').addEventListener('click', () => {
        const title = titleDom.value;
        const year = yearDom.value;
        const season = seasonDom.value;
        const sort = sortDom.value;
        const page = nextBtnDom.value;
        fetch(`/api/anime?title=${title}&year=${year}&season=${season}&sort=${sort}&page=${page}`)
            .then(res => {
                if (res.status === 400) {
                } else {
                    res.json()
                        .then(data => {
                            showPage(data.totalCount, page);

                            nextBtnDom.value = data.nextPage;
                            prevBtnDom.value = data.prevPage;

                            if (data.prevPage == -1) {
                                prevBtnDom.disabled = true;
                            } else {
                                prevBtnDom.disabled = false;
                            }

                            if (data.nextPage == -1) {
                                nextBtnDom.disabled = true;
                            } else {
                                nextBtnDom.disabled = false;
                            }

                            addAnimeList(data);
                        })
                }
            });
    });

    document.getElementById('addBtn').addEventListener('click', () => {
        const selectedCard = document.querySelector('.anime-card.selected');
        if (selectedCard) {
            const selectedId = selectedCard.getAttribute('data-id');
            const data = {
                animeId: selectedId,
                rate: 0,
                comment: "TestTest",
                userId : 2
            }
            fetch(`/api/anilog/insert`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(res => {
                console.log(res);
                if (res.status === 400) {
                    res.json()
                    .then(data => {
                    })
                } else {
                    aniLogList();
                }
            })
            console.log('Selected Anime ID:', selectedId);
            const modal = bootstrap.Modal.getInstance(document.getElementById('staticBackdrop'));
            modal.hide();
        } else {
            console.log('No anime selected');
        }
    });

    function addAniLogList(data) {
        const container = document.getElementById('aniLogList');

        container.innerHTML = '';
        let imageUrl;

        for (let i = 0; i < data.length; i++) {
            if (data[i].ogImageUrl !== null && data[i].ogImageUrl.slice(0, 4) === 'http') {
              imageUrl = data[i].ogImageUrl;
            } else {
              imageUrl = '/images/noimg.png';
            }

            container.insertAdjacentHTML(
                'beforeend',
                `
                <div class="card m-2 anime-card" data-id="${data[i].id}">
                    <div class="card-body">
                        <div class="anime-img-container mt-1">
                            <img class="rounded img-thumbnail" src="${imageUrl}">
                        </div>
                        <div class="d-block mt-3 align-content-center text-center">
                            <h5>${data[i].title}</h5>
                            <p class="mt-2 mb-1">
                                <span class="badge text-bg-primary fs-6">${data[i].media}</span>
                                <span class="badge text-bg-primary fs-6">${data[i].epCount}話</span>
                            </p>
                            <p class="my-1"><span class="badge text-bg-success fs-6">${data[i].season}</span></p>
                        </div>
                    </div>
                </div>
                `
            );
        }

        document.querySelectorAll('.anime-card').forEach(card => {
            card.addEventListener('click', function() {
                const selectedId = this.getAttribute('data-id');
                //document.getElementById('selectedAnimeId').textContent = `Selected Anime ID: ${selectedId}`;
                fetch(`/api/anilog/detail?anime_id=${selectedId}`)
                    .then(res => {
                        if (res.status === 400) {
                        } else {
                            res.json()
                                .then(data => {
                                    const container = document.getElementById('animeDetail');
                                    container.innerHTML = '';
                                    let imageUrl;
                                    if (data.anime.ogImageUrl !== null && data.anime.ogImageUrl.slice(0, 4) === 'http') {
                                      imageUrl = data.anime.ogImageUrl;
                                    } else {
                                      imageUrl = '/images/noimg.png';
                                    }
                                    let rate = '';
                                    if (data.review.rate != 0) {
                                        for (let i = 0; i < data.review.rate; i++) {
                                            rate += '★';
                                        }
                                        for (let i = 0; i < 5-data.review.rate; i++) {
                                            rate += '☆';
                                        }
                                    } else {
                                        rate = '未評価';
                                    }
                                    container.innerHTML =
                                        `
                                        <div class="card mb-2 anime-card" data-id="${data.anime.id}">
                                            <div class="card-body">
                                                <div class="anime-img-container mt-1">
                                                    <img class="rounded img-thumbnail" src="${imageUrl}">
                                                </div>
                                                <div class="d-block mt-3 align-content-center text-center">
                                                    <h5>${data.anime.title}</h5>
                                                    <p class="mt-2 mb-1">
                                                        <span class="badge text-bg-primary fs-6">${data.anime.media}</span>
                                                        <span class="badge text-bg-primary fs-6">${data.anime.epCount}話</span>
                                                    </p>
                                                    <p class="my-1"><span class="badge text-bg-success fs-6">${data.anime.season}</span></p>
                                                    <p class="my-1"><span class="badge text-white text-bg-warning fs-6">${rate}</span></p>
                                                </div>
                                                <a href="${data.anime.officialSiteUrl}" target="_blank">
                                                    <button type="button" class="btn btn-primary">公式サイト</button>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="card mb-2 anime-card" data-id="${data.anime.id}">
                                            <div class="card-header">
                                                感想
                                            </div>
                                            <div class="card-body">
                                                <p>${data.review.comment}</p>
                                                <button type="button" class="btn btn-primary w-100">感想を編集</button>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-danger text-center w-100 ">この作品を一覧から削除</button>
                                        `;
                                })
                        }
                    });
                const animeIdModal = new bootstrap.Modal(document.getElementById('animeIdModal'));
                animeIdModal.show();
            });
        });
    }

    aniLogList();

    function aniLogList() {
        const aniLogList = document.getElementById('aniLogList');
        fetch(`/api/anilog`)
            .then(res => {
                if (res.status === 400) {
                } else {
                    res.json()
                        .then(data => {
                            addAniLogList(data);
                        })
                }
            });
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
