<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AniLog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .anime-img-container {
            flex: 0 0 auto;
            width: 25%;
            aspect-ratio: 16 / 9;
            overflow: hidden;
        }
        .anime-img-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        input[type="text"], select {
            padding: 0.4rem 0.75rem;
            border: 1px solid #cecece;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        input[type="text"]:focus, select:focus {
            border-color: #91c6ff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 125, 255, 0.25);
        }
        select:disabled {
            background-color: #ebebeb;
        }


        /* Modalの高さ設定 */
        .modal-body {
          max-height: calc(100svh - 240px);
          overflow-y: auto;
        }
    </style>
</head>
<body>
<div class="container my-1">
    <div class="card mt-4">
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                追加
            </button>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">アニメ追加</h1>
            </div>
            <div class="modal-body">

                <div class="card mb-4">
                    <div class="card-header">
                        検索
                    </div>
                    <div class="card-body">
                        <p>作品名<input type="text" class="ms-3 me-3 rounded-1" id="title"></p>
                        <p>
                            年度
                            <select class="ms-3 me-3 rounded-1" id="year"></select>
                        </p>
                        <p>
                            時期
                            <select class="ms-3 me-3 rounded-1" id="season" disabled>
                                <option value="spring" selected>春(4月~6月)</option>
                                <option value="summer">夏(7月~9月)</option>
                                <option value="autumn">秋(10月~12月)</option>
                                <option value="winter">冬(1月~3月)</option>
                            </select>
                            並び替え
                            <select class="ms-3 me-3 rounded-1" id="sort">
                                <option value="id" selected>デフォルト</option>
                                <option value="season-asc">新しい順</option>
                                <option value="season-desc">古い順</option>
                                <option value="watchers_count">人気順</option>
                            </select>
                        </p>
                        <button type="button" class="btn btn-primary" id="searchBtn">検索</button>
                    </div>
                </div>

                <div class="card" id="animeListCard">
                    <div class="card-header">
                        検索結果<span id="totalCount"></span>
                    </div>
                    <div class="card-body" id="searchResult">
                        <div id="animeList"></div>
                        <div class="d-flex justify-content-around mt-3">
                            <button type="button" class="btn btn-primary" id="prevBtn" value="" disabled>前のページ</button>
                            <span class="align-content-center" id="showPage"></span>
                            <button type="button" class="btn btn-primary" id="nextBtn" value="" disabled>次のページ</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100">追加</button>
                <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>


<script>
    'use strict';

    const searchResult = document.getElementById('searchResult');
    searchResult.style.display = 'none';

    const titleDom = document.getElementById('title');
    const yearDom = document.getElementById('year');
    const seasonDom = document.getElementById('season');
    const sortDom = document.getElementById('sort');

    var optionDom = '<option value="" selected>指定しない</option>';
    const currentYear = new Date().getFullYear();
    for (var i = currentYear; i >= 1970; i--) {
        var option = '<option value="' + i + '">' + i + '</option>';
        optionDom += option;
    }
    yearDom.insertAdjacentHTML('beforeend', optionDom);

    yearDom.addEventListener('change', function() {
        if (this.value === '') {
            seasonDom.disabled = true;
        } else {
            seasonDom.disabled = false;
        }
    });

    const prevBtnDom = document.getElementById('prevBtn');
    const nextBtnDom = document.getElementById('nextBtn');

    function showPage(totalCount, currentPage) {
        let allPage = Math.ceil(totalCount / 30);
        const page = document.getElementById('showPage');
        page.innerHTML = '';
        page.insertAdjacentHTML(
          'afterbegin',
          `${currentPage}&nbsp;/&nbsp;${allPage}`
        );
    }

    function addAnimeList(data) {
        const container = document.getElementById('animeList');
        const animeListCard = document.getElementById('animeListCard');

        container.innerHTML = '';
        let imageUrl;

        for (let i = 0; i < data.animeList.length; i++) {
            if (data.animeList[i].ogImageUrl !== null && data.animeList[i].ogImageUrl.slice(0, 4) === 'http') {
              imageUrl = data.animeList[i].ogImageUrl;
            } else {
              imageUrl = '/images/noimg.png';
            }

            container.insertAdjacentHTML(
                'beforeend',
                `
                <div class="card m-2">
                    <label class="form-check-label" for="radio${data.animeList[i].id}">
                        <div class="card-body">
                            <div class="form-check">
                                <div class="d-sm-flex">
                                    <div class="d-block align-content-center ms-1">
                                        <input class="form-check-input fs-5" type="radio" name="radioGroup" id="radio${data.animeList[i].id}">
                                    </div>
                                    <div class="anime-img-container ms-1">
                                        <img class="rounded img-thumbnail" src="${imageUrl}">
                                    </div>
                                    <div class="d-block ms-3 align-content-center">
                                        <h5>${data.animeList[i].title}</h5>
                                        <p class="mt-3">
                                            <span class="badge text-bg-primary fs-6">${data.animeList[i].season}</span>
                                            <span class="badge text-bg-success fs-6">${data.animeList[i].media}</span>
                                            <span class="badge text-bg-info fs-6">${data.animeList[i].epCount}話</span>
                                            <a class="link-opacity-100" href="${data.animeList[i].officialSite}">
                                                公式サイト
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
                `
            );
        }
        animeListCard.scrollIntoView({
          behavior: 'smooth'
        });
    }

    document.getElementById('searchBtn').addEventListener('click', () => {
        const title = titleDom.value;
        const year = yearDom.value;
        const season = seasonDom.value;
        const sort = sortDom.value;
        fetch(`/api/anime?title=${title}&year=${year}&season=${season}&sort=${sort}&page=1`)
            .then(res => {
                if (res.status === 400) {
                    // Handle error
                } else {
                    res.json()
                        .then(data => {
                            document.getElementById('totalCount').innerHTML = `：${data.totalCount}件`;

                            if (data.totalCount === 0) {
                                searchResult.style.display = 'none';
                            } else {
                                searchResult.style.display = '';
                            }

                            showPage(data.totalCount, 1);

                            nextBtnDom.value = data.nextPage;
                            prevBtnDom.value = data.prevPage;

                            if (data.nextPage == -1) {
                                nextBtnDom.disabled = true;
                            } else {
                                nextBtnDom.disabled = false;
                            }

                            addAnimeList(data);
                        })
                }
            });
    });

    document.getElementById('prevBtn').addEventListener('click', () => {
        const year = yearDom.value;
        const season = seasonDom.value;
        const sort = sortDom.value;
        const page = prevBtnDom.value;
        fetch(`/api/anime?title=&year=${year}&season=${season}&sort=${sort}&page=${page}`)
            .then(res => {
                if (res.status === 400) {
                } else {
                    res.json()
                        .then(data => {
                            showPage(data.totalCount, page);

                            nextBtnDom.value = data.nextPage;
                            prevBtnDom.value = data.prevPage;

                            if (data.prevPage == -1) {
                                prevBtnDom.disabled = true;
                            } else {
                                prevBtnDom.disabled = false;
                            }

                            if (data.nextPage == -1) {
                                nextBtnDom.disabled = true;
                            } else {
                                nextBtnDom.disabled = false;
                            }

                            addAnimeList(data);
                        })
                }
            });
    });

    document.getElementById('nextBtn').addEventListener('click', () => {
        const year = yearDom.value;
        const season = seasonDom.value;
        const sort = sortDom.value;
        const page = nextBtnDom.value;
        fetch(`/api/anime?title=&year=${year}&season=${season}&sort=${sort}&page=${page}`)
            .then(res => {
                if (res.status === 400) {
                } else {
                    res.json()
                        .then(data => {
                            showPage(data.totalCount, page);

                            nextBtnDom.value = data.nextPage;
                            prevBtnDom.value = data.prevPage;

                            if (data.prevPage == -1) {
                                prevBtnDom.disabled = true;
                            } else {
                                prevBtnDom.disabled = false;
                            }

                            if (data.nextPage == -1) {
                                nextBtnDom.disabled = true;
                            } else {
                                nextBtnDom.disabled = false;
                            }

                            addAnimeList(data);
                        })
                }
            });
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
